/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 7%;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 75%;
  width: 75%;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.login-container .container {
  padding-left: 7%;
  padding-right: 7%;
  height: 100%;
}
.login-container .container h1{
  justify-content: center;
  font-size: 2.5rem;
}
.login-container .container form{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}
input[type="text"]{
  width: 50%;
  padding-left: 1px;
  padding-right: 1px;
  margin-top: 25px;
  margin-left: 3.9%;
  height: 40px;
  border-radius: 5px;
  border: .5px solid rgb(143, 143, 143);
  font-size: 15px;
}

input[type="password"]{
  width: 50%;
  padding-left: 1px;
  padding-right: 1px;
  margin-top: 25px;
  margin-left: 10%;
  height: 40px;
  border-radius: 5px;
  border: .5px solid rgb(143, 143, 143);
  font-size: 15px;
}
label{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
.login-container button{
  width: 35%;
  padding: 10px 10px;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 30%;
  font-weight: bold;
  font-size: 15px;
  background-color: #0275d8;
  color: rgb(255, 255, 255);
}
.login-container button:hover{
  background-color: blue;
  cursor: pointer;
}
.login-container button:focus{
  outline: none !important;
}

.login-container .goToRegister{
    margin-left: 33%;
}



.spinner {
  animation: spinner infinite .9s linear;
  height: 90%;
}
.spinner:focus{
  border:none;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-error{
  color: red;
  text-align: center;
}
@media screen and (max-width: 700px){
  .login-container{
    justify-content: center;
    background-image: none;
  }
  .card {
    width: 80%;
    align-self: center;
  }
  
}
@media screen and (max-width: 350px){
  .card {
    width: 100%;
  }
  
}
/******  LOGIN PAGE  ******/
.actionOptionButtons, .approvebtn,.deleteOrderbtn{
  margin-left: 10%;
  margin-bottom: 1%;
}

